*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'cabin';
}

html, body{
    height: 100%;
}

.clear{
    clear: both;
}

input[type=text]{
    outline:none
}

.center{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.header{
    width: 100%;
    padding: 0 2%;
    height: 145px;
    background-color: #ededed;
}

.header img{
    margin: 19px;
    margin-bottom: 50px;
}

.container-banner{
    width: 100%;
    padding: 0 2%;
    height: 557px;
    background-image: url('../images/header_bg.jpg');
    background-size: cover;
    background-position: center;
}

.container-banner > .center{
    height: 100%;
}

.form{
    text-align: center;
    padding: 10px;
    width: 450px;
    height: 101% ;
    float: right;
    position: relative;
    top: 30px;
    border: 4px solid #ccc;
    background-color: white;
    border-radius: 10px;
}

.form h1{
    font-weight: normal;
    font-size:30px;
    color: #999999;
}

.input-container{
    margin-top: 5px;
}

.input-container span, .form p{
    display: inline-block;
    width: 100%;
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
    color: #bbbbbb;
}

.input-container input[type=text]{
    width: 80%;
    height: 35px;
    border: 2px solid #ccc;
}

.form p{
    font-size: 15px;
    margin-top: 8px 0;   
}

.form .input-submit-container{
    margin-top: 24px;
    text-align: center;
}

.form input[type=submit]{
    color: white;
    width: 200px;
    height: 75px;
    font-size: 23px;
    cursor: pointer;
    background-color: green;
    display: inline-block;
    border-bottom: 3px solid #07a330;
    border-left: 0;
    border-top: 0;
    border-right: 3px solid #07a330;
    border-radius: 15px;
    margin-top: 20px;
}

.form input[type=submit]:hover{
    background-color: #04691f
}

.container-list{
    padding: 30px;
    margin-top: 100px;
    float: left;
    width: 350px;
    height: 300px;
    background-color: rgb(5, 176, 51, 0.4);
    margin-top: 130px;
}

.container-list ul{
    list-style-position: inside;
}

.container-list ul li{
    max-width: 100%;
    text-align: center;
    color: white;
    border: 0;
    padding: 25px;
}

.container-2{
    padding: 50px 0;
    border-bottom: 3px solid black;
}

.container-2 p{
    width: 100%;
    max-width: 768px;
    margin: auto;
    padding: 60px 5px;
    display: inline-block;
    text-align: center;
}

.container-2 h1{
    margin: auto;
    padding: 20px;
    font-size: 50px;
    margin-left: 70px;
}

.container-2 p{
    font-size: 30px;
    font-weight: 600;
}

.arrow{
    position: relative;
    left: 50%;
    margin-left: -23px;
    top: 78px;
    width: 55px;
    height: 55px;
    background-image: url('../images/arrowdown.svg');
    background-size: 100% 100%;
}

.section-1{
    padding: 30px
}

.section-1 h1{
    text-align: center;
    font-weight: normal;
    margin-top: 40px;
    font-size: 60px;
}

.box1{
    text-align: center;
    float: left;
    width: 33.33%;
    padding: 20px;
}

.box1 p{
    display: inline-block;
    text-align: justify;
    padding: 15px 30px;
}

.topsocial{
    border-top: 3px solid black;
    width: 100%;
    height: 270px;
}

.topsocial h2{
    font-size: 30px;
    text-align: center;
    padding: 50px;
}

.boxsocial{
    display: flex;
    flex-direction: column;
}

.boxsocial span{
    margin-top: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.footer{
    border-top: 3px solid black;
    padding: 20px 0;
    background-color: #ededed;
    text-align: center;
    color: #888;
}

.footer p{
    margin-top: 8px;
}

@media screen and (max-width: 1024px){
    .header{
        height: auto;
        width: 100%;
        padding: 15px 0;
        text-align: center;
    }

    .container-banner{
        width: 100%;
        padding: 15px 2%;
        height: auto;
        text-align: center;
    }

    .form{
        max-width: 400px;
        padding: 15px;
        width: 60%;
        height: 100% ;
        float: right;
        top: 0;
    }

    .container-list{
        padding: 30px;
        margin-top: 30px;
        float: left;
        width: 40%;
        max-width: 500px;
        height: auto;
        max-height: 500px;
    }
    
}

@media screen and (max-widht: 768px){
    .container-list{
        margin-top: 0;
        float:none;
        display: inline-block;
        width: 100%;
    }

    .container-2{
        padding-right: 4%;
        padding-left: 4%;
    }

    .form{
        float: none;
        display: inline-block;
        width: 90%;
    }

    .box{
        float: none;
        display: inline-block;
        width: 100%;
        max-width: 500px;
        padding: 30px 0;
    }
    /* BOX precisa revisar*/
}